<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <title>个人登录</title>
	    <meta name="description" content="" />
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	    <meta content="yes" name="apple-mobile-web-app-capable" />
	    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
	    <meta content="telephone=no" name="format-detection" />
	    <meta content="email=no" name="format-detection" />
	    <link href="img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon" />
	    <link rel="stylesheet" type="text/css" href="css/common.css"/>
	</head>
	<body>	
		<h1>学信网</h1>
		<div class="fadeBox">
			<div class="fade">
			  <div id="preloader">
			        <span></span>
			        <span></span>
			        <span></span>
		            <span></span>
			    </div>
			</div>
		</div>
		<div class="pageBox clearfix">
			<div class="page page_1" id="page_login" style="display: block;">
				<h2>学信网-个人登录（账号+密码）</h2>
				<form action="">
					<ul class="form_list">
						<li>
		                    <span>×</span><input type="text" id="identityCard" name="identityCard" maxlength="18" placeholder="身份证号">
		                </li> 
		                <li>
		                    <span>×</span><input type="text" id="loginName" name="name" maxlength="30" placeholder="手机号/身份证号/邮箱">
		                </li>
		                <li>
		                    <span>×</span><input type="password" id="password" name="pwd" maxlength="20" placeholder="密码">
		                </li>
		                <li>
		                	<span>×</span>
		                    <div class="codeBox">
		                         <input type="text" id="login_txt_code" name="code" placeholder="请输入验证码">
		                         <img id="login_checkCode" class="code" src="" alt=""/>
		                         <b class="loading"></b>
		                    </div>
	                 	</li>
	            	</ul>	
	            	<div class="checkBox"> 
	            		<input type="checkbox" checked="checked" name="" id="remindPwd" value="" />
	                 	<label for="remindPwd">记住密码</label>	
	            	</div>
	            	<div class="login-left-mail" id='error_email'></div>
	        		<div class="btn_base" id="btn_submit">登 录</div>
				</form>
				<div class="other_link">
	    			<div class="fl"><a href="scatteredQuery.html">零散查询</a></div>
	    			<div class="fr"><a href="https://account.chsi.com.cn/account/preregister.action?from=account-login">注册</a></div>
	    		</div>
			</div>

			
		</div>
		<script src="js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="js/jquery.cookie.js"></script>
		<script type="text/javascript" src="js/common.js"></script>	
		<script src="js/login.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
